#rutas {
    list-style: none;
    margin-bottom: 2px;
}
#rutas li{
    display: inline-flex;
    margin: 10px;
}
body{
    background-color: rgb(238, 238, 238);
}
.back{
    background-color: rgb(255, 255, 255);
}
.rImg{
    max-height: 400px;
    min-height: 400px;

    width: 100%;
}
.nav-link:hover{
    color:red;
}
footer{
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
    margin-top: 20px;
    align-self: flex-end;
}